* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f4;
  color: #2e2e38;
}

h1, h2, h3 {
  color: #4a4a75;
}

button {
  background-color: #ff8474;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e06b61;
}

